<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>초대 링크</title>
    <link href="https://fonts.googleapis.com/css2?family=Charter:ital,wght@0,400;0,700;1,400&family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/form-styles.css">
</head>
<style>
    .invite-url-container {
        display: flex;
        align-items: stretch;
        gap: 10px;
    }

    .invite-url-container input {
        flex: 1;
        height: 48px;
    }

    .copy-button {
        height: 48px;
        white-space: nowrap;
        padding: 12px 24px;
        min-width: fit-content;
        border-radius: 8px;
        border: none;
        cursor: pointer;
    }

    .not-copied {
        background-color: #000000;
        color: #ffffff;
    }

    .copied {
        background-color: #4CAF50;
        color: white;
    }

    .copy-button:hover {
        background: #292929;
        transform: translateY(-1px);
    }
</style>
<body>
    <%- include('partials/header.ejs') %>

    <!-- 메인 컨텐츠 -->
    <main class="main-content">
        <div class="content-container">
            <div class="form-container">
                <div class="form-group">
                    <label for="inviteUrl">링크를 복사해서 초대할 사람에게 보내주세요!</label>
                    <div class="invite-url-container">
                        <input type="text" id="inviteUrl" name="inviteUrl" value="<%= inviteUrl %>" readonly>
                        <button type="button" id="copyBtn" class="copy-button not-copied">복사하기</button>
                    </div>
                </div>
                
                <div class="actions">
                    <a href="/feeds/<%= feedSlug %>" class="btn btn-secondary">돌아가기</a>
                </div>

            </div>
        </div>
    </main>

    <script src="/js/new-invite.js"></script>

</body>
</html>
