<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새 글 작성</title>
    <link href="https://fonts.googleapis.com/css2?family=Charter:ital,wght@0,400;0,700;1,400&family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/form-styles.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <!-- 메인 컨텐츠 -->
    <main class="main-content">
        <div class="content-container">
            <div class="form-container">
                <h1 class="form-title">컨텐츠 추가하기</h1>
                
                <form action="/api/feeds/<%= feedSlug %>/url" method="POST">
                    <div class="form-group">
                        <label for="url">추가할 컨텐츠의 URL을 입력해주세요.</label>
                        <input type="url" id="url" name="url" placeholder="https://example.com" required>
                    </div>
                    
                    <div class="actions">
                        <!-- <a href="/posts" class="btn btn-secondary">돌아가기</a> -->
                        <button type="submit" class="btn">저장하기</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
